mdb-icon.fas {
    margin-right: 35px;
}

.cyan-lighter-hover {
    color: #00bcd4;
    -webkit-transition: .4s;
    transition: .4s; 
}
  .cyan-lighter-hover:hover 
  {
    -webkit-transition: .4s;
    transition: .4s;
    color: #22e6ff; 
}