<mdb-card class="align-items-center">
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg" alt=""></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body class="text-center">
          <a href="" class="grey-text">
            <h5>{{category}}</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">{{title}}</a>
            </strong>
          </h5>    
          <h4 class="font-weight-bold blue-text">
            <strong>{{price}} <i class="fas fa-shekel-sign"></i></strong>
          </h4>
        </mdb-card-body>
      </mdb-card>  