<!--Section: Content-->
<section class="text-center mb-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row mt-5">       
          <div class="col-lg-5 mr-5 text-center text-md-right ml-2">
            <h2
              class="h2-responsive text-center text-md-right product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
              <strong>Sony headphones</strong>
            </h2>
            <h3 class="h3-responsive text-center text-md-right mb-5 ml-xl-0 ml-4">
              <span class="red-text font-weight-bold">
                <strong>$49</strong>
              </span>
            </h3>
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne1">
                  <div data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h6 class="mb-0">
                      Description
                    </h6>
                  </div>
                </div>
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute,
                  </div>
                </div>
              </div>
              <div class="card">
                  <div class="card-header" role="tab" id="headingOne1">
                    <div data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                      aria-controls="collapseOne1">
                      <h6 class="mb-0">
                        Details
                      </h6>
                    </div>
                  </div>
                  <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                    data-parent="#accordionEx">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute,
                      non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                      moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                  </div>
                </div>
            </div>

            <section class="color">
              <div class="mt-5">
                <p class="grey-text">Choose your color</p>
                <div class="row text-center text-md-right">

                  <div class="col-md-4 col-12 ">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="radio100" name="group100">
                      <label class="custom-control-label" for="radio100">Blue</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="radio101" name="group100">
                      <label class="custom-control-label" for="radio101">Orange</label>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-lg-6">
              <div class="">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/19.jpg" alt="Third slide"
                  class="img-fluid">
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</section>