.btn-rounded {
    border-radius: 10em;
}
.btn-primary {
    color: #fff;
    background-color: #4285f4!important;
}
.form-check-input {
    margin-top: .3rem;
    margin-left: -1.25rem;
}
.dark-grey-text {
    color: #4f4f4f!important;
}